/** This file is part of e-Sedra.
 *
 *   e-Sedra is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   e-Sedra is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *   along with e-Sedra.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @copyright Copyright 2023 e-Sedra. All Rights Reserved.
 *
 */
/*--------------------------------------------------------------
# banner Section
--------------------------------------------------------------*/

.banner {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../banner5.jpeg");
    /* background: url("../images/banner7.jpeg") top center;*/
    /**/
    /*background-image: url('../images/banner5.jpeg') top center;*/
    /* Set a specific height */
    /*  height: 50%;*/
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* background-size: contain;
    position: relative;*/
}

.banner:before {
    content: "";
    /* background: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.banner .container {
    padding-top: 72px;
}

@media (max-width: 992px) {
    .banner .container {
        padding-top: 62px;
    }
}

.banner .welcome_msg h2 {
    color: white;
    margin: 10px 0 0 0;
    font-size: 24px;
    /*    font-family: 'Averia Serif Libre', cursive;*/
    font-family: 'Noto Serif', serif;
}

.banner .welcome_msg {
    /* width: 45%;*/
    float: left;
    padding: 20px;
}

cite {
    color: var(--bs-warning);
}

@media (min-width: 1024px) {
    .banner {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 80vh;
    }

    .banner h2 {
        font-size: 18px;
        line-height: 24px;
    }
}