
/** This file is part of e-Sedra.
 *
 *   e-Sedra is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   e-Sedra is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *   along with e-Sedra.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @copyright Copyright 2023 e-Sedra. All Rights Reserved.
 *
 */

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
//sfondo nero per test funzionamento
/*$body-bg: #000;
$body-color: #111;
*/
$body-bg: #f5f5f5;
$primary: #881600;
$danger: #ff7169;
$secondary: #748386;
$dark:#33202A;
$warning:#f0A202;
$success: #75e6b2;
$tooltip-bg: $warning;
$tooltip-color: $dark;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
